 :root {
--text-color-main: white;

} 

body{
    height: 100vw;
    width: 100vw;
    display: grid;
    grid-area: 
    "side-bar top-bar top-bar top-bar ",
    "side-bar main-content main-content main-content ";
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 10rem 1fr 1fr 1fr;
    
}
.side-bar{
    grid-area: side-bar;
    height: 50em;
    width: 3.5rem;
    background-color: rgb(96, 115, 161);
    position: fixed;
    overflow: hidden;
    color: var(--text-color-main);
    border-radius: 10px;
}

    
.top-bar {
    grid-area: top-bar;
   

}

.main-content {
    grid-area: main-content;
}
.searchbar{
    display: flex;
    justify-content: center;

}
