  :root {
--text-color-main: white;

} 

body{
    height: 100vw;
    width: 100vw;
    display: grid;
    grid-area: 
    "side-bar top-bar top-bar top-bar ",
    "side-bar main-content main-content main-content ";
    grid-template-rows: .8fr 4fr;
    grid-template-columns: 5rem 1fr 1fr 1fr;
    
}
.side-bar{
    grid-area: side-bar;
    height: 100vh;
    width: 7rem;
    background-color: rgb(96, 115, 161);
    position: fixed;
    overflow: hidden;
    color: var(--text-color-main);
    border-radius: 10px;
    
    
}
.menuItems{
    display: flex;
    width: 20px;
    gap: 7px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}
.menuItems > *{
    cursor: pointer;
    
}
.side-bar:hover{
    box-shadow: 2px 18px 65px -8px rgba(0, 0, 0, 0.75);
}

    
.top-bar {
    grid-area: top-bar;
   

} 

.main-content {
    grid-area: main-content;
} 
.searchbar{
    display: flex;
    justify-content: center;

} 
