:root{
    --drawer-bg-color: #4869a9;
    --font-topDrawer: 22px; 
    --font-color: white;
    --nav-color: rgba(206, 206, 206, 0.372);
    --icons-color: white;
    --search-bg: rgb(224, 221, 221);
    --btn-color: #5c85d8;
}

body{
    height:100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    "side-drawer nav nav nav"
    "side-drawer content content content";
    grid-template-rows: .8fr 1fr;
    grid-template-columns: 15rem 1fr 1fr 1fr;
}
hr{
    border:  solid black;
    width: 12vw;
}

.side-drawer{
    grid-area: side-drawer;
    background-color: var(--drawer-bg-color);
    
}
.menuItems{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    color: var(--font-color);
    padding-top: 1.5rem;
    padding-bottom: 12px;
}
.side-drawer > div:not(:first-child){
    padding-left: 1.5rem;
}

.topdrawer{
    padding-left: .5rem;
    font-size: 1.5em;
}

.nav {
    grid-area: nav;
    height: 20vh;
    background-color: var(--nav-color);
    border-bottom: 1px solid var(--nav-color);
    justify-items: flex-start;
    box-shadow: -4px 10px 14px -14px rgba(0, 0, 0, 0.75);
}
.top-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8rem;
}
.search > input{
    border-radius: 25px;
    height: 3vh;
    width: 30vw;
    border: none;
    background-color: var(--search-bg);
}

.content{
    grid-area: content;
}
.profile{
    display: flex;
    flex-direction: column;
}
.profileView{
    display: flex;
    flex-direction: row;
    align-items:  center;
    gap: 1rem;
    padding-left: 10rem;
}
.profilePic{
    height: 2rem ;
    border-radius: 100%;
}
.bell{
    padding-left: 2rem
}
.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left: 5rem ;
    padding-top: 2rem;
}
.bottom-nav{
    display: flex;
    flex-direction: row;
}

.bottomPic{
    height: 4rem;
    border-radius: 100%;
}
.greeting {
    font-size:  15px;
}
.name{
    font-size: 25px;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 16rem;
}
.new, .upload, .share {
    background-color: var(--btn-color);
    color: var(--font-color);
    border-radius: 25px;
    width: 5vw;
    height: 4vh;
    border: none;
}